name: Deploy to Oracle VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.ORACLE_HOST }}
          username: root
          key: ${{ secrets.ORACLE_SSH_KEY }}
          script: |
            cd /var/www/ambey
            git pull origin main

            cd server
            npm install
            pm2 reload ambey-backend

            cd ../client
            npm install
            npm run build

            systemctl restart nginx
